.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color:transparent;
    color: rgb(10, 10, 10);
    text-align: center;
    font-weight: bold;
  }

h2.my-header {
  position: relative;
  text-align: center;
  text-decoration-style: wavy;
  font-family:fantasy;
  font-size: 4rem;
}


body {background-image: url("img/fon.2e073dc835af.jpg");} 


.font-fantasy {font-family: fantasy;}
.font-times {font-family: Georgia, 'Times New Roman', Times, serif;}

.nav-fill .nav-link {text-align: left;}
#upper-menu {display: block; white-space:nowrap;}
.dropdown:hover>.dropdown-menu {
  display: block;
 }


