{% extends 'basic.html'%}


{% load static %}
{% load bootstrap4 %}
{% load court_filters %}
{% load thumbnail %}

{% block content %}
<h2 class="display-3 text-center font-fantasy">Новости, найденные по тегу "{{tag}}"
    <style>h2.display-3 {font-size:125%;}</style>
</h2>
         {% if arts %}
            <ul class="text-left font-times">
            {% for art in arts %}
                        <div class="media">
                            {% thumbnail art.image|default:'empty.png' 96x96 as photo %}  
                            <img class="img-thumbnail mt-1" src="{{photo.url}}" alt=''/>
                                <div class="media-body mt-1 ml-3 pl-3">
                                    <h3><a href="{% url 'court:detail' pk=art.pk slug=art.slug_it %}">               
                                        {{art.title|cutDL}}</a>
                                    </h3>
                                    <h6>{{art.body|cutDL|truncatewords:15}}</h6>
                                    <p class="font-italic">
                                        <style>
                                             p {font-size:75%;}
                                        </style>
                                        {{art.date}}
                                    </p>
                                </div>
                        </div>
            {% endfor %}
            &nbsp;&nbsp;
            &nbsp;&nbsp;
            </ul>
        {% endif %}
{% endblock %}
        