{% load bootstrap4 %}
{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
        content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>{% block title %} Главная {% endblock %} - Верховный Суд  </title>
        {% bootstrap_css %}
        <link rel="stylesheet" type="text/css" href="{% static 'style.css'%}" media="all">
        {% bootstrap_javascript jquery="slim" %}
    </head>
    <body class="container-fluid no-gutters">
        <header class="mb-4">
            <h1 class="display-1 text-center font-fantasy">ВЕРХОВНЫЙ СУД</h1>
        </header>
        <div class="row no-gutters">
            <div class="col-2"></div>
            <div class="col-10">
                <nav class="navbar navbar-expand-lg">
                        <ul class="navbar-nav mr-auto">
                            <style>
                               ul.navbar-nav {flex-wrap: wrap;}
                            </style>
                            <a class="nav-link badge-info rounded font-weight-bold mr-2" id="upper-menu" href="{% url 'court:main' %}"> Главная  </a>
                            <a class="nav-link badge-secondary rounded" id="upper-menu" href="#"> Судебный департамент при Верховном Суде </a>
                            <a class="nav-link badge-dark rounded" id="upper-menu" href="#"> Суды общей юрисдикции  </a>
                            <a class="nav-link badge-secondary rounded" id="upper-menu" href="#"> Информация о закупках </a>
                            <a class="nav-link badge-dark rounded" id="upper-menu" href="#"> Профессиональный союз </a>
                            <a class="nav-link badge-secondary rounded" id="upper-menu" href="#"> Вызов в суд </a>
                            <a class="nav-link badge-dark rounded" id="upper-menu" href="#"> Законодательая инициатива  </a>
                            <a class="nav-link badge-secondary rounded" id="upper-menu" href="#"> Документы </a>
                        </ul>
                </nav>
            </div>
        </div>
        <div class="row no-gutters">
            <div class="col-8"></div>
            <div class="col-4 mt-3"> 
                {% block search %}
                {% endblock %}
            </div>                     
        </div>
        <div class="row no-gutters margin-left:-15px и margin-right:-15px">
            <div class="col-2">
                <h5 class="main-menu">
                    <style>
                        h5.main-menu {font-style:normal;font-family:fantasy;color:rgb(7, 6, 6); font-size: 125%;}
                    </style>Главное меню
                </h5>
                <br>
                <nav class="nav-fill flex-fill font-weight-bold font-times">
                    <div class="dropdown dropright">
                        <a class="nav-link badge-dark rounded dropdown-toggle dropright" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Новости</a>
                            <div class="dropdown-menu dropright">
                                <a class="dropdown-item badge-dark rounded" href="#">Глава государства</a>
                                <a class="dropdown-item badge-secondary rounded" href="#">Документы</a>
                                <a class="dropdown-item badge-dark rounded" href="#">Информационное сообщение</a>
                                <a class="dropdown-item badge-secondary rounded" href="#">Министерство юстиции</a>
                                <a class="dropdown-item badge-dark rounded" href="#">Работа суда</a>
                                <a class="dropdown-item badge-secondary rounded" href="#">Официальное сообщение</a>
                                <a class="dropdown-item badge-dark rounded" href="#">Поздравления</a>
                                <a class="dropdown-item badge-secondary rounded" href="#">Общественная жизнь</a>
                                <a class="dropdown-item badge-dark rounded" href="#">СМИ</a>
                            </div>
                    </div>
                    <a class="nav-link badge-secondary rounded" href="#">Внепроцессуальные обращения к судьям</a>
                    <a class="nav-link badge-dark rounded" href="#">Временная экзаменационная комиссия</a>
                    <a class="nav-link badge-secondary rounded " href="#">Временная квалификационная коллегия судей</a>
                    <a class="nav-link badge-dark rounded" href="#">Пресс-служба</a>
                    <a class="nav-link badge-secondary rounded" href="#">Контакты</a>
                    <div class="dropdown dropright">
                        <a class="nav-link badge-dark rounded dropdown-toggle dropright" href="#"data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Предотвращение <br> коррупции </a>
                            <div class="dropdown-menu dropright">
                                <a class="dropdown-item badge-dark rounded" href="#">Нормативно-правовые и иные акты в сфере противодействия коррупции</a>
                                <a class="dropdown-item badge-secondary rounded" href="#">Информационные материалы Верховного Суда в сфере противодействия коррупции</a>
                            </div>
                    </div>
                    <a class="nav-link badge-secondary rounded" href="#">Обращения в Верховный Суд</a>
                </nav>
            </div>
            <div class="col-9">
                <section class="border-0">
                {% bootstrap_messages %}
                {% block content %}
                {% endblock %}
                </section>
            </div>
            <div class="col-1">
               {% block social-media %}
               {% endblock %}
            </div>
        </div>
        <div class="row">
            <div>
                <footer class="footer">
                    <p class="text-left font-italic">Официальный сайт Верховного Суда Copyright &copy;</p> 
                </footer>
            </div>
        </div>
    </body>
</html>