{% extends 'basic.html' %}
{% load bootstrap4 %}
{% load court_filters %}

{% block title %}{{art.title}}{% endblock %}

{% block content %}
<div class ="container-fluid ml-3 mt-3">
    <div class="row justify-content-center">
        {% if art.image %}
        <div ><img src="{{art.image.url}}" class="img-fluid"></div>
        {% endif %}
        <div class="mt-3 ml-3 text-center">
            <h2 class="font-fantasy" >{{art.title|cutDL}}</h2>
            <p class="mt-5 text-justify font-weight-bold font-times">{{art.body|cutDL}}</p>
            <p class="font-italic text-left">
                <style>
                    p.font-italic {font-size:75%;}
                </style>
               Добавлено {{art.date}}
            </p>
        </div>
    </div>
</div>
<h4 class="mt-5 mb-5 pb-5 ml-3">Новый комментарий</h4>
    <form method="post" class="ml-3">
        {% csrf_token %}
        {% bootstrap_form form layout='horizontal' %}
        {% buttons %}
            <button class= "ml-5  mb-5" type='submit'>Добавить</button> 
        {% endbuttons %}
    </form>
{% if comments %}
<div class="mt-5 ml-3">
    {% for comment in comments %}
    <div class="my-2 p-2 border">
        <h5>{{comment.author}}</h5>
        <p>{{comment.content}}</p>
        <p class="text-left font-italic">{{comment.date}}</p>
    </div>
    {% endfor %}
</div>
<div class="mb-5 pb-5">
    {% if page.has_previous %}
    <a href="?page={{page.previous_page_number}}">&lt;</a>
    &nbsp;&nbsp;|&nbsp;&nbsp;
    {% endif %}
    Часть № {{page.number}} из {{page.paginator.num_pages}}
    {% if page.has_next %}
    &nbsp;&nbsp;|&nbsp;&nbsp;
    <a href="?page={{page.next_page_number}}">&gt;</a>
    {% endif %}
</div>
{% endif %}
{% endblock %}