{% extends 'basic.html'%}


{% load static %}
{% load bootstrap4 %}
{% load court_filters %}
{% load thumbnail %}

{% block search %}
<form required minlength="4">
    <div class="row form-group">
        <div class="col-9">
            {% bootstrap_form form=form show_label=False alert_error_type='all' %} 
        </div>
        <div class="col-3">{% bootstrap_button content='Искать' button_type='submit' %}</div> 
    </div>
</form>
{% endblock%}
{% block content %}
    <h2 class="my-header">Последние новости</h2>
        {% if arts %}
            <ul class="text-left">
            {% for art in arts %}
                        <div class="media">
                            {% thumbnail art.image|default:'empty.png' 96x96 as photo %}  
                            <img class="img-thumbnail mt-1" src="{{photo.url}}" alt=''/>
                                <div class="media-body mt-1 ml-3 pl-3">
                                    <h3><a href="{% url 'court:detail' pk=art.pk slug=art.slug_it %}" class="font-times">               
                                        {{art.title|cutDL}}</a>
                                    </h3>
                                    <h6 class='font-times'>{{art.body|cutDL|truncatewords:15}}</h6>
                                    {% if art.tags.exists %}
                                    <p>
                                       Теги:
                                            {% for tag in art.tags.all %}
                                            <a href="{% url 'court:arts_by_tag' tag.slug %}" class="badge badge-success font-bold">
                                                <style>
                                                    a.badge {font-size:125%;}
                                                </style>
                                            {{ tag.name }}
                                            </a>
                                            {% if not forloop.last %}, {% endif %}
                                            {% endfor %}
                                    {% endif %}
                                    </p>
                                    <div class='row'>
                                        <div class='col-3'>
                                            <p class="font-italic">
                                                <style>
                                                    p {font-size:85%;}
                                               </style>
                                                {{art.date}}
                                            </p>
                                        </div>
                                        <div class='col-9'>
                                            <p class="font-italic">
                                                {% if art.comment_set.count %}
                                                    {{art.comment_set.count|comment_filter}}
                                                {% endif %}
                                            </p>
                                        </div>                                  
                                </div>
                                </div>
                        </div>
            {% endfor %}
            &nbsp;&nbsp;
            &nbsp;&nbsp;
            </ul>
            <div class="mb-5 pb-5">
                {% if page.has_previous %}
                <a href="?page={{page.previous_page_number}}">&lt;</a>
                &nbsp;&nbsp;|&nbsp;&nbsp;
                {% endif %}
                Часть № {{page.number}} из {{page.paginator.num_pages}}
                {% if page.has_next %}
                &nbsp;&nbsp;|&nbsp;&nbsp;
                <a href="?page={{page.next_page_number}}">&gt;</a>
                {% endif %}
            </div>
        {% endif %}
{% endblock %}
{% block social-media %}
<h5 class="main-menu mt-3"> Ссылки <br> на наши <br> ресурсы </h5>
    <p><a href="https://vk.com/club65375199"><img src="{% static 'img/vk.png' %}" alt="Мы ВКонтакте" width="50" height="50"></a></p> 
    <p><a href="https://www.youtube.com/channel/UCrOjOxPktsUunlrS6jRmPkg"><img src="{% static 'img/yt.jpg' %}" alt="Наш канал на YouTube" width="50" height="50"></a></p> 
{% endblock %}
