{% extends 'basic.html'%}


{% load static %}
{% load bootstrap4 %}
{% load court_filters %}
{% load thumbnail %}

{% block content %}
    {% if arts %}
        <h4 class="display-3 text-center h-75 font-fantasy">Найдены следующие новости по ключевому слову "{{keyword}}"</h4>
            <ul class="text-left font-times">
            {% for art in arts %}
                        <div class="media">
                            {% thumbnail art.image|default:'empty.png' 96x96 as photo %}  
                            <img class="img-thumbnail mt-1" src="{{photo.url}}" alt=''/>
                                <div class="media-body mt-1 ml-3 pl-3">
                                    <h3><a href="{% url 'court:detail' pk=art.pk slug=art.slug_it %}">               
                                        {{art.title|cutDL}}</a>
                                    </h3>
                                    <h6>{{art.body|cutDL|truncatewords:15}}</h6>
                                    <p class="font-italic">
                                        <style>
                                             p {font-size:75%;}
                                        </style>
                                        {{art.date}}
                                    </p>
                                </div>
                        </div>
            {% endfor %}  
            &nbsp;&nbsp;
            &nbsp;&nbsp;
            </ul>
            <div class="mb-5 pb-5">
                {% if page.has_previous %}
                <a href="?page={{page.previous_page_number}}">&lt;</a>
                &nbsp;&nbsp;|&nbsp;&nbsp;
                {% endif %}
                Часть № {{page.number}} из {{page.paginator.num_pages}}
                {% if page.has_next %}
                &nbsp;&nbsp;|&nbsp;&nbsp;
                <a href="?page={{page.next_page_number}}">&gt;</a>
                {% endif %}
    {% else %}
        <h4 class="text-center">К сожалению, по Вашему запросу ничего не найдено</h2>
            &nbsp;&nbsp;
            &nbsp;&nbsp; 
    {% endif %}
{% endblock %}